VisualElement {
}

.grid-container {
    width: 500px;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    background-color: rgb(40, 40, 40);
}

.pipe-cell {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    transition-duration: 0.2s;
    transition-property: rotate;
    -unity-background-scale-mode: scale-to-fit;
}

.type-tjunction {
    background-image: url('project://database/Assets/Media/Pipes/tjunction.png');
}

.type-source {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=469185731&guid=7dff4187337caa94a94fef7a65d551ac&type=3#source");
}

.type-cross {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=567081776&guid=7dff4187337caa94a94fef7a65d551ac&type=3#cross");
}

.type-straight-horizontal {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=-2025190205&guid=7dff4187337caa94a94fef7a65d551ac&type=3#straight");
}

.type-straight-vertical {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=-2025190205&guid=7dff4187337caa94a94fef7a65d551ac&type=3#straight");
}

.type-corner {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=1736792145&guid=7dff4187337caa94a94fef7a65d551ac&type=3#corner");
}

.type-end {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=1880025770&guid=7dff4187337caa94a94fef7a65d551ac&type=3#end");
}

.type-tjunction {
    background-image: url("project://database/Assets/Media/Pipes/cross.png?fileID=-1776935814&guid=7dff4187337caa94a94fef7a65d551ac&type=3#tjunction");
}
